.GaioDien{
    .navbar{
        background-color: black;
 .navbar-brand {
    font-size: 30px;
 }
.navbar-collapse{
   padding-left: 800px;
     
 .navbar-nav{
 
     .nav-link{
        font-size: 20px;
     }
 }
}
}
header{
   h1{
      font-size: 50px;
   }
   p{
      font-size: 27px;
      font-weight: 400;
   }
   button{
      font-size: 25px;
      border-radius: 10px;
   }
}
    section{
      .rowBg{
         .card{
            border-radius: 7px;
            padding-bottom: 20px;
         }
      }
      .feature{
         display: inline-flex;
         align-items: center;
         justify-content: center;
         height: 5rem;
         width: 5rem;
         font-size: 50px;
         border-radius: 10px;
      }
      h2{
         font-size: 30px;
         font-weight: 700;
      }
      p{
         font-size: 20px;
      }
    }
    footer{
      p{
         font-size: 25px;
      }
    }
}